<footer class="footer">
    <a href="/pokemones">
        <input class="button is-primary" type="submit" value="Volver a pagina principal">
    </a>
</footer>
<script src="/Users/jesusrodriguez/Desktop/Repos/Lab_TC2005B/lab5-6/pokescript.js"></script>
</body>
</html>