<footer class="footer">
    <div class="content has-text-centered">
        <p class="title is-5"> ¿Qué otras formas de autentificación existen? </p>
        <p> Existen muchas mas maneras, la biometrica en la que usan tus huellas o cara para autenticarte. <br>
            Otra manera es a traves de una llave digital o fisica, ya se un codigo que te llega a whastapp, llaves fisicas , etc <br>
            Delegar la autentificacion a otra plataforma como google
        </p>
    </div>
</footer>
