<footer class="footer">
    <div class="content has-text-centered">
        <p class="title is-5"> ¿Qué otros templating engines existen para node? </p>
            <ol>
                <li> Handlebars: Se le conoce por su simplicidad, usa una syntaxis clara de usar doble llave para sustituir valores dinamicos {{variable}}</li>
                <li> Pug(Jade): Tiene un enfoque minimalista y utiliza indentación para definir la estructura del HTML, reduciendo la cantidad de etiquetas explícitas. </li>
                <li> Mustache: Es muy minimalista y utiliza placeholders para insertar información dinámica en las vistas. </li>
            </ol>
    </div>
</footer>
