<footer class="footer">
    <div class="content has-text-centered">
        <p class="title is-5"> ¿Qué ventajas y desventajas tiene la integración de tus aplicaciones web con servicios web desarrollados por terceros?</p>
        <p> Ventajas: Se pueden reutilizar todos esos componentes de software y con eso ahorrar recursos y tiempo en desarrollar ese componente
            <br>, encapsulas la complejidad provocando que realizar una funcion puede ser muy facil si usas un servicio que ya hace eso.
            <br>
            Desventajas: Generas Dependencias, si cambian las politicas sobre el uso del servicio web puede que tengas realizar modificaciones, tambien si el servicio deja de existir, tu aplicacion deja de funcionar
            <br> ,hacer las peticiones al servicio puede provocar latencia en tu sistema
            <br> ,puede que sea algo inseguro debido a que confias tus datos al servicio externo
        </p>
    </div>
</footer>
