<footer class="footer">
    <div class="content has-text-centered">
        <p class="title is-5"> ¿Qué beneficios encuentras en el estilo MVC? </p>
            <ol>
                <li> Es mas ordenado, te ayuda a tener todo por capas, diviendo la parte de como se ve en los views y la informacion en el model </li>
                <li> Esto tambien ayuda a que sea mas facil hacer mantenimiento al saber donde se encuentra cada parte </li>
                <li> Usando las vistas se pueden reutilizar componentes </li>
            </ol>

        <p class="title is-5"> ¿Encuentras alguna desventaja en el estilo arquitectónico MVC? </p>
        <p> Te obliga a tener mayor orden y esto provoca que tengas que hacer mas esfuerzo </p>
    </div>
</footer>
