<footer class="footer">
    <div class="content has-text-centered">
        <p class="title is-5"> ¿Qué importancia tiene AJAX en el desarrollo de RIA's Rich Internet Applications? </p>
        <p> 
            Es muy importante porque permite actualizar partes de la pagina web sin tener que recargar la pagina, haciendo que sea una experiencia mas fluida y rapida
        </p>

        <p class="title is-5"> ¿Qué implicaciones de seguridad tiene AJAX? ¿Dónde se deben hacer las validaciones de seguridad, del lado del cliente o del lado del servidor? </p>
        <p> 
            Debido a que se comunica de manera asincronica con el servidor, se facilitan las inyecciones de sql.
            <br> Las validaciones de seguridad se deben hacer en el servidor porque del lado de cliente puede ser manipulado.
        </p>

        <p class="title is-5"> ¿Qué es JSON? </p>
        <p> 
            Son las sigla de JavaScript Object Notation, es un objeto de JavaScript que sirve para mandar datos entre aplicaciones y servidores
        </p>
    </div>
</footer>
