<footer class="footer">
    <div class="content has-text-centered">
        <p class="title is-5"> Pregunta 1 ¿Qué utilidad tiene un trigger (ventajas)? </p>

        <p> Sirve para automatizar procesos ya que se ejecuta de manera automatica cuando se cumpla la condicion <br>
        Tambien sirve mucho para guardar registros sobre quien realizo cambios en los datos y <br> 
        una cosa muy importante es la integridad de los datos, debido a que puede ayudar a mantener las reglas de negocio en los datos </p>

        <p class="title is-5"> Pregunta 2 ¿Tipos de triggers? </p>
            <p>Hay dos tipos de triggers, (For o After)los que se ejecutan despues de cierta condicion (insertar, actualizar, eliminar) <br>
            (Instead OF) Y los que remplazan la instruccion original. </p>

        <p class="title is-5"> Pregunta 3 ¿En que casos NO son de utilidad? </p>
        <p> Cuando es tan compleja la operacion que puede crear bucles infinitos, ejemplo un trigger hace que en una tabla se inserte datos y eso manda a llamar a otro trigger y ese trigger llama al anterior trigger y asi en infinito
            <br> Tambien si llega a afectar al rendimiento ya que esto es otro proceso que la base de datos tiene que hacer y esto puede provocar retrasos o lentitud
            <br> Cuando se necesita un mayor control debido a que los triggers son automaticos esto provoca que no se sabe cuando se ejecutan y esto puede provocar resultados no deseados
        </p>
    </div>
</footer>
