<footer class="footer">
    <div class="content has-text-centered">
        <p class="title is-5"> ¿Qué ventajas tiene escribir el código SQL únicamente en la capa del modelo? </p>
            <p>Ayuda a mantener orden en el codigo y tambien seguridad, al mantener todo estructurado, tambien ayuda a poder reutilizar el codigo
                ya que puede ser ocupado en otras partes con el require
            </p>

        <p class="title is-5"> ¿Qué es SQL injection y cómo se puede prevenir? </p>
            <p> Es una vulnerabilidad en el sistema, donde se puede inyectar consultas sql a traves de inputs y formularios para asi poder sacar informacion <br>
            Para evitar esto se parametrizan las consultas, en la parte de values se usa (?) para lo que se ingrese se procesa como string y no como consulta </p>
    </div>
</footer>
