<form action="/pokemones/new" method="POST">
    <div class="field">
        <label for="numero" class="label"> Numero de Pokedex </label>
        <div class="control">
            <input id="numero" name="numero" class="input" type="text" placeholder="e.g 025">
        </div>
    </div>

    <div class="field">
        <label for="nombre" class="label"> Nombre </label>
        <div class="control">
            <input id="nombre" name="nombre" class="input" type="text" placeholder="e.g Pikachu">
        </div>
    </div>

    <div class="field">
        <label for="tipo" class="label"> Tipo(s) </label>
        <div class="control">
            <input id="tipo" name="tipo" class="input" type="text" placeholder="e.g Electrico">
        </div>
    </div>

    <div class="field">
        <label for="region" class="label"> Region </label>
        <div class="control">
            <input id="region" name="region" class="input" type="text" placeholder="e.g Kanto">
        </div>
    </div>

    <div class="field">
        <label for="imagen" class="label">Imagen</label>
        <div class="control">
            <input id="imagen" name="imagen" class="input" type="text" placeholder="e.g. https://tooys.mx/media/catalog/product/cache/0daeb07bb1d294c1f281fab47369d56a/h/o/hot-toys-league-of-legends-vi-sixth-scale_0.jpg">
        </div>
    </div>

<input class="button is-primary" type="submit" value="Guardar personaje">
</form>
<br>
<br>
<br>