<%- include('includes/_header') %>
        <div class="container has-text-centered">
            <h1> ASH </h1>
            <figure class="image is-128x128">
                <img src="https://upload.wikimedia.org/wikipedia/en/e/e4/Ash_Ketchum_Journeys.png" />
            </figure>
            <br>
            <br>
            <a href="/entrenadores">
                <button class="button"> Volver </button>
            </a>
<%- include('includes/_footer') %>
    </body>
</html>