<%- include('includes/_header') %>
        <div class="container has-text-centered">
            <h1> Brock </h1>
            <figure class="image is-128x128">
                <img src="https://images.wikidexcdn.net/mwuploads/wikidex/3/3b/latest/20180812021535/Brock_LGPE.png" />
            </figure>
            <br>
            <br>
            <a href="/entrenadores">
                <button class="button"> Volver </button>
            </a>
<%- include('includes/_footer') %>
    </body>
</html>