<%- include('includes/_header') %>
        <div class="container has-text-centered">
            <h1> ENTRENADORES </h1>
            <a href="/entrenadores/brock"> <button class="button"> BROCK </button> </a>
            <a href="/entrenadores/ash"> <button class="button"> ASH </button> </a>
        </div>
        <footer class="footer">
            <div class="content has-text-centered">
                <p class="title is-5"> Describe el archivo package.json. </p>
                <p>
                    Se crea al iniciar un proyecto con npm init, te crea una json que contiene una lista de las caracteristicas del proyecto <br>
                    te dice las dependencias del proyecto y dependencias de desarrolador, el autor, nombre, version y tambien puedes poner script que sirven <br>
                    para poder ejecutar comandos mas facil.
                </p>
            </div>
        </footer>
    </body>
</html>