<%- include('includes/_header') %>
<%- include('includes/_form') %>
<%- include('includes/_footer') %>
<script src="/Users/jesusrodriguez/Desktop/Repos/Lab_TC2005B/lab5-6/pokescript.js"></script>
</body>
</html>