<%- include('includes/_header') %>

<div class="container has-text-centered">
    <h1>Ordenar Pokemones</h1>

    <!-- Por numero -->
    <form action="/pokemones/ordenar" method="POST">
        <input type="hidden" name="criterio" value="numero">
        <button type="submit" class="button">
            Por orden de número
        </button>
    </form>
    </form>
</div>
<br>
<br>

<%- include('includes/_footer') %>